@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font: .9rem 'Poppins', sans-serif;
    background-color: #efd9b4;
}

.teclas{
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: .8rem;
}

.notaDo, .notaRe,
.notaMi, .notaFa, .notaSol,
.notaLa, .notaSi {
    width: 3rem;
    height: 24vw;
    border: 2px solid rgba(0, 0, 0, 0.712);
    border-radius: .2rem;
    text-align: center;
    cursor: pointer;
    font-size: .92rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #292522;;
    background-color: #a39081;
}

.notaClicada {
    background-color: #292522;
    color: #fff;
}

.notaDoSustenido,
.notaReSustenido,
.notaFaSustenido,
.notaSolSustenido,
.notaLaSustenido {
    width: 1.8rem;
    padding: 0 .44rem;
    background-color: #d6a692;
    border: 2px solid rgba(0, 0, 0, 0.712);
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.notaClicadaSustenido {
    background-color: #4d6160;
    color: #fff;
}

dialog{
    width: 30vw;
    background-color: #d6a692;
    border: none;
    box-shadow: 2px 2px 6px #4d6160 ;
    text-align: justify;
}

#moreInfo, #close, #changeName{
    border-radius: .3rem;
    background-color: #4d6160;
    padding: .4rem;
    color: #fff;
    letter-spacing: .08rem;
    cursor: pointer;
}

#close{
    float: right;
    margin-top: .8rem;
}

#moreInfo{
    float: right;
}